* {
    -fx-base: #b9b9b9;
    -fx-accent: #848591;
    -fx-accent2: #393d5d;
    -fx-trim: #393d5d;
    -fx-text: black;
    -fx-text2: white;
}

.root {
    -fx-background-color: -fx-accent2;
    -fx-text-fill: -fx-accent;
    -fx-border-color: -fx-trim;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-font-size: 15px;
}

.button {
    -fx-background-color: -fx-base;
    -fx-text-fill: -fx-text;
    -fx-border-color: -fx-trim;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
}

.button:hover {
    -fx-background-color: -fx-accent;
    -fx-text-fill: -fx-text;
}

.button:focused {
    -fx-background-color: -fx-accent;
    -fx-text-fill: -fx-text;
    -fx-border-color: -fx-trim;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
}

Hyperlink {
    -fx-text-fill: #9CD1BB;
}

Hyperlink:focused {
    -fx-border-color: #9CD1BB;
}

#labelBox {
    -fx-border-color: -fx-trim;
    -fx-border-radius: 2px;
}

TableColumnHeader {
    -fx-background-color: -fx-trim;
}

.label {
    -fx-text-fill: -fx-text;
}

#byLabel, #versionLabel {
    -fx-text-fill: -fx-text2;
}

.table-view {
    -fx-text-fill: black;
    -fx-background-color: -fx-base;
    -fx-border-color: -fx-trim;
    -fx-border-insets: 1px;
    -fx-border-radius: 2px;
}

.table-view .column-header-background {
    -fx-background-color: -fx-trim;
}

.table-view .column-header-background .filler {
    -fx-background-color: -fx-trim;
}

.table-view .column-header-background .nested-column-header {
    -fx-background-color: -fx-trim;

}

.table-view .column-header-background .label {
    -fx-text-fill: -fx-base;
    -fx-background-color: -fx-trim;
}

.table-row-cell {
    -fx-border-color: -fx-trim;
}

.table-row-cell .text {
    -fx-background-color: -fx-base;
    -fx-fill: -fx-text;
}

.table-row-cell:missing-file .text {
    -fx-strikethrough: true;
    -fx-fill: black;
}

.table-view > .virtual-flow > .corner {
    -fx-background-color: -fx-trim;
}

.scroll-bar:vertical {
    -fx-background-color: -fx-base;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: -fx-base;
}

.scroll-bar:vertical .track {
    -fx-background-color: -fx-trim;
}

.text-field {
    -fx-text-fill: -fx-text2;
    -fx-background-color: -fx-accent2;
    -fx-border-color: transparent;
    -fx-border-width: 1px;
}

.text-field:focused {
    -fx-border-color: -fx-trim;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

#leftDefaultLayoutMenu, #rightDefaultLayoutMenu {
    -fx-background-color: -fx-base;
    -fx-border-color: -fx-trim;
    -fx-border-width: 1px;
}

.menu-bar {
    -fx-background-color: -fx-base;
    -fx-border-color: -fx-trim;
    -fx-border-width: 1px;
}

.radio-menu-item {
    -fx-background-color: -fx-base;
}

.menu:openvertically:hover {
    -fx-background-color: -fx-accent;
}

.menu:openvertically:showing {
    -fx-background-color: -fx-accent;
}

.menu-item {
    -fx-background-color: -fx-base;
}

.menu-item .container .menu:openvertically {
    -fx-border-color: -fx-trim;
    -fx-border-width: 2px;
}

.menu-item:hover {
    -fx-background-color: -fx-accent;
}

.context-menu {
    -fx-background-color: -fx-base;
}

.scroll-pane {
    -fx-background-color: -fx-base;
}

.scroll-pane .scroll-bar:vertical {
    -fx-background-color: -fx-base;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: -fx-base;
}

.scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: -fx-accent2;
}

.check-box {
    -fx-text-fill: -fx-text;
}

.check-box:determinate .box {
    -fx-background-color: -fx-accent2;
}

.check-box:selected .box .mark {
    -fx-background-color: -fx-text2;
}

#settingsRoot {
    -fx-background-color: -fx-base;
}

#settingsRoot .menu-button {
    -fx-text-fill: -fx-text2;
    -fx-background-color: -fx-accent2;
}

#settingsRoot .menu-button .label {
    -fx-text-fill: -fx-text2;
}

#settingsRoot .menu-item .label {
    -fx-text-fill: -fx-text;
}

#settingsRoot .button {
    -fx-background-color: -fx-accent2;
    -fx-text-fill: -fx-text2;
}

#Key-Correct {
    -fx-background-color: green;
    -fx-text-fill: white;
}

#Key-Mismatch {
    -fx-background-color: orange;
    -fx-text-fill: white;
}

#Key-Missing {
    -fx-background-color: red;
    -fx-text-fill: white;
}

#Key-Exists {
    -fx-background-color: green;
    -fx-text-fill: white;
}

#Key-DoesntExist {
    -fx-background-color: green;
    -fx-text-fill: black;
}

#Key-DoesntExist .label{
    -fx-text-fill: black ;
}

#Key-DoesntExist .label .text {
    -fx-strikethrough: true;
}